.headerLinks{
  text-decoration: none;
  color: #a79b83;
  transition: all 250ms;
}

.headerLinks:hover{
  /* text-decoration: white underline; */
  text-shadow: 0px 0px 5px white;
  color: #a79b83;
}

svg.droplet {
    /* color: #b6b1e7; */
    color: #00b4d8;
    margin: 0 10px;
    font-size: 0.9rem;
}

h1 {
  font-size: 2.4rem;
}

div p {
  font-size: 1.2rem;
}

div p:first-of-type {
  margin-right: 30px;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #a79b83;
  padding: 10px;
}

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}
