body {
    background-color: #ece4e6;
    color: #a79b83;
  }

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100vw; height: 100%;
}

.plantList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100vw; height: auto;
    margin-top: 100px;
}